body {
  font-family: Arial, sans-serif;
  background-color: #5c6791;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.calculator {
  background-color: #000000;
  width: 300px;
  margin: 0 auto;
  border: 1px solid #181716;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 15px;
}

input[type="text"] {
  width: 100%;
  font-size: 24px;
  padding: 1px;
  margin-bottom: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.curvy-button {
  width: 100%;
  font-size: 18px;
  padding: 10px;
  border-radius: 10px;
  background-color: #5d5f5d;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
